<section>
<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <div class="title" style="font-size: 50px; font-weight: bold;">
                Welcome To <span style="color: darkgoldenrod;">NoteBy.</span>
            </div>

            <div class="buttons">
                <button class="btn" style="background-color: darkgoldenrod;"> Login</button>
                <button class="btn" style="background-color: darkgoldenrod;"> Signup</button>
            </div>
        </div>
    </div>
</div>
</section>