
section{
    margin: 5% 5%;
    background-image: url('https://img.freepik.com/free-vector/paper-note-memphis-background_53876-99285.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container{
    margin-top: 20%;
    line-height: 80px;
   .btn{
    margin-right: 3%;
   }
}